*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

body{
background:#0d0f24;
color:white;
overflow-x:hidden;
}

/* BACKGROUND */
.bg-animation{
position:fixed;
width:200%;
height:200%;
background:radial-gradient(circle,#6f00ff55,#000);
filter:blur(120px);
z-index:-1;
animation:move 12s infinite linear alternate;
}

@keyframes move{
0%{transform:translate(-20%,-20%);}
100%{transform:translate(20%,20%);}
}

/* GLASS */
.glass{
background:rgba(255,255,255,0.08);
border:1px solid rgba(255,255,255,0.15);
backdrop-filter:blur(12px);
padding:40px;
margin:40px auto;
width:85%;
border-radius:18px;
box-shadow:0 0 25px #6f00ff55;
}

/* HERO */
.hero{
text-align:center;
padding-top:60px;
}

.profile{
width:160px;
height:160px;
border-radius:50%;
object-fit:cover;
border:4px solid #8a2bff;
box-shadow:0 0 18px #9f4bff;
}

.title{
font-size:40px;
margin-top:20px;
}

.title span{
color:#ba68ff;
}

.subtitle{
margin-top:15px;
font-size:18px;
opacity:0.8;
}

/* BUTTONS */
.btn{
margin-top:25px;
display:inline-block;
padding:12px 30px;
background:linear-gradient(45deg,#7f00ff,#e100ff);
color:white;
text-decoration:none;
border-radius:30px;
font-weight:bold;
box-shadow:0 0 12px #b94dff;
}

.btn.cv{
background:linear-gradient(45deg,#00c6ff,#0072ff);
box-shadow:0 0 15px #00b3ff;
margin-left:10px;
}

/* TITLES */
h2{
text-align:center;
margin-bottom:25px;
font-size:32px;
color:#d28dff;
}

/* EDUCATION */
.card{
background:rgba(255,255,255,0.05);
padding:20px;
margin-bottom:20px;
border-radius:12px;
border:1px solid rgba(255,255,255,0.1);
}

/* SKILLS */
.skills{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:12px;
}

.skills span{
background:linear-gradient(45deg,#8a2bff,#c751ff);
padding:10px 18px;
border-radius:25px;
box-shadow:0 0 10px #b94dff;
}

/* PROJECTS */
.projects{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.project-card{
background:rgba(255,255,255,0.05);
padding:20px;
width:280px;
border-radius:12px;
border:1px solid rgba(255,255,255,0.1);
text-align:center;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-5px);
background:rgba(255,255,255,0.08);
}

.project-card img{
width:100%;
height:280px;
border-radius:10px;
object-fit:cover;
margin-bottom:12px;
}

.project-card p{
font-size:14px;
color:#ddd;
}

.project-card a{
display:inline-block;
margin-top:12px;
color:#e398ff;
font-weight:bold;
text-decoration:none;
}

/* CONTACT */
#contact p{
text-align:center;
margin:8px 0;
}
